body {
    padding-top: 70px;
}

#add-movie {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 20px;
    line-height: 40px;
    padding: 0 10px;
    background-color: yellowgreen;
    color: white;
    font-weight: bold;
    border: 0;
    transition: background-color 1s;
}

#add-movie:hover {
    background-color: forestgreen;
}

.movie {
    height: 270px;
}

.movie .glyphicon:hover {
    color: yellowgreen;
}

.movie .delete .glyphicon {
    margin-left: 10px;
}