<form>
    <input type="text" name="title">
    <input type="text" name="genre">
    <input type="text" name="year">
    <input type="number" name="rating" min="1" max="5">
    <textarea name="actors"></textarea>

    <input type="submit" value="Save">
</form>